html[data-theme='dark'] {
  // Brand
  --primary-color: #7afb3d;
  --secondary-color: #ddf7d4;

  // Default
  --white: #ffffff;
  --dark: #0d0c0c;
  --success: #20ac2e;
  --info: #586ee0;
  --danger: #e05858;
  --warning: #e0e058;

  // Color
  --color-primary: #ffffff;
  --color-secondary: #8c949d;
  --color-tertiary: #a5a7af;
  --color-brand: var(--primary-color);
  --color-invert: var(--white);
  --color-error: var(--danger);
  --color-success: var(--success);
  --color-accent: var(--info);

  // Gray
  --color-gray-0: #f6f6f9;
  --color-gray-100: #e0e6eb;

  // FONT FAMILY
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}
