@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datepicker/dist/react-datepicker.css';
@import 'jsoneditor/dist/jsoneditor.css';
@import 'react-quill/dist/quill.snow.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import './top-loader.scss';

@layer base {
  @import './themes/dark-theme.scss';
  @import './themes/light-theme.scss';

  html {
    font-family: var(--font-primary);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
    @apply bg-text-primary text-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary font-extrabold tracking-normal;
  }

  .bg-neon {
    background: var(--neon);
  }

  .bg-neon-x {
    background: var(--neon-x);
  }

  .bg-neon-y {
    background: linear-gradient(45deg, var(--danger) 0%, var(--dark) 85.61%);
  }

  .bg-neon-z {
    background: var(--neon-z);
  }

  ::placeholder {
    color: var(--color-tertiary) !important;
    font-size: 0.875rem /* 14px */ !important;
    line-height: 1.25rem /* 20px */ !important;
  }
}

// Hamburger
.hamburger {
  @apply flex h-5 w-6 cursor-pointer items-center text-dark;

  .hamburger-icon {
    @apply h-[3px] w-6 rounded-xl bg-white transition-all delay-100 ease-linear;

    &::after,
    &::before {
      content: '';
      @apply absolute box-border h-[3px] w-6 rounded-xl bg-white transition-all delay-100 ease-linear;
    }

    &::before {
      @apply translate-y-[-200%];
    }

    &::after {
      @apply translate-y-[200%];
    }
  }
}

#navigation-checkbox:checked ~ .navbar {
  .main-navigation {
    .hamburger {
      .hamburger-icon {
        @apply bg-transparent;

        &::after {
          transform: rotate(-45deg);
          @apply bg-dark;
        }

        &::before {
          transform: rotate(45deg);
          @apply bg-dark;
        }
      }
    }

    .nav-item {
      @apply text-dark;
    }
  }
}

#navigation-checkbox:checked ~ .navbar {
  .drawer {
    @apply translate-x-0 opacity-100 md:translate-y-0;
  }
}

#navigation-checkbox:checked ~ .navbar {
  .overlay {
    @apply visible opacity-60;
  }
}

// Switch
.switch {
  .slider {
    @apply absolute bottom-0 left-0 right-0 top-0 flex cursor-pointer items-center rounded-full bg-gray-100 transition-all duration-500 ease-linear;

    .slider-circle {
      @apply absolute rounded-full bg-white transition-all duration-200 ease-linear;
    }
  }

  .switch-input:checked + .slider {
    @apply bg-info;
  }

  .switch-input:focus + .slider {
    box-shadow: 0 0 1px var(--info);
  }

  .switch-input:checked + .switch-large {
    .slider-circle {
      @apply translate-x-8;

      .switch-loading {
        @apply text-info;
      }
    }
  }
  .switch-input:checked + .switch-middle {
    .slider-circle {
      @apply translate-x-[22px];

      .switch-loading {
        @apply text-info;
      }
    }
  }
  .switch-input:checked + .switch-small {
    .slider-circle {
      @apply translate-x-3.5;

      .switch-loading {
        @apply text-info;
      }
    }
  }
}

// line hover
.line-hover {
  @apply relative;

  &::after {
    content: '';
    @apply absolute left-0 top-2 ml-4 h-[1.5px] w-0 transition-all ease-linear;
  }

  &:hover {
    &::after {
      @apply w-3 bg-white;
    }
  }
}

// select custom
.select-custom {
  &__control {
    @apply border border-solid;
    border-color: var(--color-gray-100) !important;

    // normal
    &__large {
      border-radius: 1.5rem !important;
      min-height: 2.5rem !important;
      @apply text-base;
    }

    &__middle {
      border-radius: 1rem !important;
      min-height: 2rem !important;
      max-height: 2rem !important;
      flex-wrap: unset !important;
      @apply text-sm;
    }

    &__small {
      border-radius: 0.75rem !important;
      min-height: 1.5rem !important;
      max-height: 1.5rem !important;
      flex-wrap: unset !important;
      @apply text-sm;
    }

    // error
    &__error {
      border-color: var(--danger) !important;
    }
  }

  &__valueContainer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    // normal
    &__large {
      padding-left: 1rem !important;
    }

    &__middle {
      padding-left: 1rem !important;
    }

    &__small {
      padding-left: 0.5rem !important;
    }
  }

  &__input {
    margin: 0 !important;
  }

  &__menu {
    z-index: 5 !important;

    // normal
    &__large {
      border-radius: 1.5rem !important;
      background-color: var(--white) !important;
    }

    &__middle {
      border-radius: 1rem !important;
      background-color: var(--white) !important;
    }

    &__small {
      border-radius: 0.75rem !important;
      background-color: var(--white) !important;
    }
  }

  &__menuList {
    // normal
    &__large {
      border-radius: 1.5rem !important;
    }

    &__middle {
      border-radius: 1rem !important;
    }

    &__small {
      border-radius: 0.75rem !important;
    }
  }

  &__menuOption {
    @apply font-primary;

    &:hover {
      background: var(--tertiary-color);
    }

    &__focused {
      background: var(--tertiary-color) !important;
    }

    &__selected {
      background: var(--neon) !important;
    }
  }

  &__multiValue {
    display: none !important;
  }

  &__placeholder {
    color: var(--color-tertiary) !important;
    @apply text-sm;
  }

  .select-custom__control__focused__large,
  .select-custom__control__focused__middle,
  .select-custom__control__focused__small {
    box-shadow: none;
    border-color: var(--info) !important;
    @apply border border-solid;
  }

  .select-custom__control__focused__error {
    border-color: var(--danger) !important;
  }
}

// form label
.form-label {
  @apply relative text-sm;

  &__required {
    &::before {
      margin-inline-end: 0.25rem;
      content: '*';
      @apply inline-block font-primary text-sm leading-[1px] text-danger;
    }
  }
}

// radio custom
.radio-custom {
  @apply relative flex w-fit cursor-pointer select-none items-center gap-2 text-sm;

  &__input {
    @apply absolute h-0 w-0 cursor-pointer opacity-0;
  }

  &__checkmark {
    @apply relative inline-block rounded-full border-2 border-gray-100 transition-all ease-linear;

    &::before {
      content: '';
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-transparent transition-all ease-linear;
    }

    &__small {
      @apply h-4 w-4;

      &::before {
        @apply h-2 w-2;
      }
    }

    &__middle {
      @apply h-5 w-5;

      &::before {
        @apply h-3 w-3;
      }
    }

    &__large {
      @apply h-6 w-6;

      &::before {
        @apply h-3 w-3;
      }
    }
  }

  &__error {
    border-color: var(--danger) !important;
  }

  &:hover {
    .radio-custom__input ~ .radio-custom__checkmark {
      &::before {
        @apply bg-gray-100;
      }
    }
  }

  .radio-custom__input:checked ~ .radio-custom__checkmark {
    @apply border-dark;

    &::before {
      @apply bg-dark;
    }
  }

  .radio-custom__input:checked ~ .radio-custom__checkmark-default {
    @apply border-dark;

    &::before {
      @apply bg-dark;
    }
  }

  .radio-custom__input:checked ~ .radio-custom__checkmark-danger {
    @apply border-danger;

    &::before {
      @apply bg-danger;
    }
  }

  .radio-custom__input:checked ~ .radio-custom__checkmark-info {
    @apply border-info;

    &::before {
      @apply bg-info;
    }
  }
}

// checkbox custom
.checkbox-custom {
  @apply relative flex w-fit cursor-pointer select-none items-center gap-2 text-sm;

  &__input {
    @apply absolute h-0 w-0 cursor-pointer opacity-0;
  }

  &__icon {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-transparent transition-all ease-linear;

    &__small {
      @apply h-3 w-3;
    }

    &__middle {
      @apply h-4 w-4;
    }

    &__large {
      @apply h-5 w-5;
    }
  }

  &__checkmark {
    @apply relative inline-block border-2 border-gray-100 transition-all ease-linear;

    &__small {
      @apply h-4 w-4 rounded;
    }

    &__middle {
      @apply h-5 w-5 rounded;
    }

    &__large {
      @apply h-6 w-6 rounded;
    }
  }

  &__error {
    border-color: var(--danger) !important;
  }

  &:hover {
    .checkbox-custom__input ~ .checkbox-custom__checkmark {
      .checkbox-custom__icon {
        @apply text-gray-100;
      }
    }
  }
}

.checkbox-custom-indeterminate {
  .checkbox-custom__checkmark {
    @apply relative inline-block border-2 border-dark transition-all ease-linear;

    &::before {
      content: '';
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-dark transition-all ease-linear;
    }
  }

  .checkbox-custom__checkmark__small {
    &::before {
      @apply h-2 w-2 rounded-sm;
    }
  }

  .checkbox-custom__checkmark__middle {
    &::before {
      @apply h-2.5 w-2.5 rounded-sm;
    }
  }

  .checkbox-custom__checkmark__large {
    &::before {
      @apply h-3 w-3 rounded-sm;
    }
  }

  .checkbox-custom__checkmark-default {
    @apply border-dark;

    &::before {
      @apply bg-dark;
    }
  }

  .checkbox-custom__checkmark-danger {
    @apply border-danger;

    &::before {
      @apply bg-danger;
    }
  }

  .checkbox-custom__checkmark-info {
    @apply border-info;

    &::before {
      @apply bg-info;
    }
  }

  .checkbox-custom__icon {
    @apply hidden;
  }

  .checkbox-custom__input:checked ~ .checkbox-custom__checkmark-info {
    .checkbox-custom__icon {
      @apply block;
    }
  }
}

.checkbox-custom-checked {
  .checkbox-custom__input:checked ~ .checkbox-custom__checkmark {
    .checkbox-custom__icon {
      @apply text-white;
    }
  }

  .checkbox-custom__input:checked ~ .checkbox-custom__checkmark-default {
    @apply border-dark bg-dark;
  }

  .checkbox-custom__input:checked ~ .checkbox-custom__checkmark-danger {
    @apply border-danger bg-danger;
  }

  .checkbox-custom__input:checked ~ .checkbox-custom__checkmark-info {
    @apply border-info bg-info;
  }
}

// date picker
.datepicker-custom {
  &:hover {
    .icon-left,
    .icon-right {
      @apply text-info transition-all ease-in-out;
    }
  }

  .react-datepicker-wrapper {
    @apply w-full flex-1  font-primary;
  }

  .react-datepicker__tab-loop {
    @apply w-0;
  }

  .react-datepicker-popper {
    .react-datepicker {
      @apply rounded-2xl border border-solid border-gray-100 font-primary;

      .react-datepicker__triangle {
        @apply hidden;
        &::before {
          @apply border-b-gray-100;
        }

        &::after {
          @apply border-b-info border-opacity-10;
        }
      }

      .react-datepicker__month-container {
        .react-datepicker__header {
          @apply rounded-tl-2xl rounded-tr-2xl border-gray-100 font-medium;
          background: var(--neon);

          .react-datepicker__current-month {
            @apply text-white;
          }

          .react-datepicker__day-names {
            .react-datepicker__day-name {
              @apply text-white;
            }
          }
        }

        .react-datepicker__month {
          @apply m-0 rounded-bl-2xl rounded-br-2xl bg-white p-1 font-medium;

          .react-datepicker__week {
            .react-datepicker__day {
              @apply text-dark transition-all ease-in-out;

              &:hover {
                @apply bg-info bg-opacity-80 text-white transition-all ease-in-out;
              }
            }

            .react-datepicker__day--selected,
            .react-datepicker__day--in-range {
              @apply bg-info text-white;
            }

            .react-datepicker__day--in-selecting-range {
              @apply bg-tertiary;
            }

            .react-datepicker__day--keyboard-selected,
            .react-datepicker__day--today {
              @apply rounded-[0.3rem] text-white;
              background: var(--neon);
            }
          }
        }
      }
    }
  }
}

// input custom
.input-custom {
  &:hover {
    .icon-left,
    .icon-right {
      @apply text-info transition-all ease-in-out;
    }
  }
}

// admin sidebar
#admin-sidebar {
}

#admin-sidebar:checked ~ .admin-sidebar {
  @apply transform-none visible;
}

.admin-sidebar {
  z-index: 1;
  @apply transition-all ease-linear fixed bg-white -translate-x-full lg:translate-x-0 lg:visible lg:static invisible;
}

.admin-sidebar-overlay {
  @apply fixed top-0 right-0 left-0 bottom-0 w-full h-full bg-dark opacity-15 transition-all ease-linear hidden lg:hidden;
}

#admin-sidebar:checked ~ .admin-sidebar-overlay {
  @apply block lg:hidden;
}

.admin-content {
  @apply w-full;
}

@media (min-width: 1024px) {
  .admin-content {
    width: calc(100vw - 212px);
  }
}

// pagination
.pagination-container {
  @apply flex items-center gap-2;

  .selected {
    .page-item {
      @apply bg-tertiary hover:bg-tertiary;
    }
  }

  .page-item {
    @apply min-w-7 min-h-7 flex items-center justify-center p-0 box-border rounded-lg font-medium hover:bg-gray transition-all;
  }
}

// quill editor
.custom-quill {
  @apply font-primary bg-white;
  &:hover {
    .quill {
      .ql-toolbar {
        @apply border-info;
      }
    }
  }

  .quill {
    @apply w-full;

    .ql-toolbar {
      @apply border-t-0 border-r-0 border-l-0 border-solid border-b border-gray-100 transition-all ease-linear bg-white rounded-tl-3xl rounded-tr-3xl px-5 py-4;

      .ql-formats {
        @apply bg-white border border-solid border-gray-100 rounded-lg;

        button {
          @apply w-8 h-8 p-2 hover:text-info;
        }

        button:first-child {
          @apply rounded-tl-lg rounded-bl-lg;
        }

        button:last-child {
          @apply rounded-tr-lg rounded-br-lg;
        }

        .ql-picker-label {
        }

        .ql-active {
          @apply bg-info text-white;

          svg,
          path,
          line {
            @apply stroke-white text-white;
          }
        }
      }
    }

    .ql-container {
      @apply border-none p-4;

      .ql-editor {
        @apply min-h-96 p-0 font-primary text-sm;
      }

      .ql-blank {
        &::before {
          @apply not-italic font-primary text-sm text-text-tertiary;
        }
      }
    }
  }
}

.custom-quill-error {
  .quill {
    .ql-toolbar {
      @apply border-danger;
    }
  }

  &:hover {
    .quill {
      .ql-toolbar {
        @apply border-danger;
      }
    }
  }
}

// JSON Editor
.jsoneditor-react-container {
  height: calc(400px - 35px);
  @apply border border-solid border-gray-100 rounded-3xl overflow-hidden w-full min-h-fit transition-all ease-linear hover:border-info;

  &__error {
    border-color: var(--danger) !important;
  }

  .jsoneditor {
    @apply font-primary border-none;
    .jsoneditor-outer {
      .ace-jsoneditor {
        .ace_marker-layer {
          .ace_active-line {
            @apply bg-gray-200;
          }
        }
      }

      .ace_editor {
        .ace_gutter {
          width: 50px !important;

          .ace_layer {
            width: 50px !important;
            @apply bg-gray-100;

            .ace_gutter-cell {
              @apply bg-gray-100 text-dark;
            }
          }
        }
        .ace_scroller {
          left: 50.4297px !important;
        }
      }
    }

    .jsoneditor-statusbar {
      @apply bg-gray-100 text-dark border-t-gray-100 px-5 h-7;
    }
  }
}

// modal
.modal {
  width: auto;
  min-width: 500px;
  height: fit-content;
  min-height: 200px;

  margin: auto;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 12px;
}

.modal-backdrop {
  @apply bg-black bg-opacity-35;
}

// tab
.tab {
  @apply text-dark transition-all ease-linear border-b-2 py-1 hover:opacity-100 cursor-pointer relative border-transparent opacity-50;

  // opacity-100 border-dark border-solid
  &::before {
    content: '';
    @apply absolute w-0 h-[2px] transition-all ease-linear bg-dark bottom-0 right-0 left-0 mx-auto;
  }

  &__active {
    @apply opacity-100;

    &::before {
      @apply w-full;
    }
  }
}

.portal-content-layout {
  max-height: calc(100vh - 73px);
  overflow: auto;
}

// CARD
.card {
  @apply relative block h-auto transition-all ease-linear border border-solid border-transparent;

  &__flag {
    @apply absolute -top-1 left-4 text-[11px] font-bold text-white uppercase pt-[2px] px-[2px] pb-1 min-h-5 rounded-t-[4px] transition-all ease-linear;
  }

  &__flag-hot {
    @apply bg-danger;
  }

  .header-action {
    @apply hidden transition-all ease-linear;
  }

  &:hover {
    @apply border-gray-100;
    .card__flag {
      @apply -top-[18px];
    }

    .header-action {
      @apply flex;
    }
  }
}

// Card action
.action-blue-cheese {
  &:hover {
    @apply text-blue-cheese-hover;
    button {
      @apply bg-blue-cheese-hover-bg text-blue-cheese-hover;
    }
  }
}

.action-bun {
  &:hover {
    @apply text-bun-hover;
    button {
      @apply bg-bun-hover-bg text-bun-hover;
    }
  }
}

.action-cabbage {
  &:hover {
    @apply text-cabbage-hover;
    button {
      @apply bg-cabbage-hover-bg text-cabbage-hover;
    }
  }
}

.action-avocado {
  &:hover {
    @apply text-avocado-hover;
    button {
      @apply bg-avocado-hover-bg text-avocado-hover;
    }
  }
}
